@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

div span{
    font-family: 'Poppins', sans-serif;
}
    div p{
    font-family: 'Poppins', sans-serif;
}
    div h1 h2 h3 h4 h5 h6 h7{
    font-family: 'Poppins', sans-serif;
}
    div a{
    font-family: 'Poppins', sans-serif;
}
.input-div > .w50 {
    position: relative;
}

.input-div > .w50 > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: 0.3s;
}

.input-div > .w50 > input:focus + h5,
.input-div > .w50 > input:valid + h5 {
    top: 5px; /* Adjust this value as needed */
    font-size: 14px;
    color: #38d39f;
}

.input-div > .w50:before,
.input-div > .w50:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: 0.4s;
}

body, h1, h2, h3, p, a, span
{
    font-family: "Poppins", sans-serif;

    font-size: 0.9rem;
}



section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #00c3a5;
}
section::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #00c3a5;
}
.container
{
    position:relative;
    min-width: 1175px;
    min-height: 550px;
    display: flex;
    z-index: 1000;

}
.container .contactoInfo
{
    position: absolute;
    top: 40px;
    width: 390px;
    height: calc(100% - 88px);
    background: #00c3a5;
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25 rgba(0, 0, 0, 15);
}

.container .contactoInfo h2
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.container .contactoInfo ul.info
{
    position: relative;
    margin: 20px 0;    
}
.container .contactoInfo ul.info li
{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.container .contactoInfo ul.info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}
.container .contactoInfo ul.info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert(1);
}
.container .contactoInfo ul.info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300; 
}
.container .contactoInfo ul.sci
{
    position: relative;
    display: flex;

}
.container .contactoInfo ul.sci li
{
    list-style: none;
    margin-right: 15px;
}
.container .contactoInfo ul.sci li a
{
    text-decoration: none;
}
.container .contactoInfo ul.sci li a img
{
    filter: invert(1);
}


.container .contanctoFormulario
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left:  150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 25);
}
.container .contanctoFormulario h2
{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
.container .contanctoFormulario .formulariobox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.container .contanctoFormulario .formulariobox .inputbox
{
    position: relative;
    margin-bottom: 35px;

}
.container .contanctoFormulario .formulariobox .inputbox.w50
{
    width: 47%;
}



.container .contanctoFormulario .formulariobox .inputbox.w100
{
    width: 100%;
}
.container .contanctoFormulario .formulariobox .inputbox input,
.container .contanctoFormulario .formulariobox .inputbox textarea
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid#777;
}
.container .contanctoFormulario .formulariobox .inputbox textarea
{
    height: 120px;
}
.container .contanctoFormulario .formulariobox .inputbox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.container .contanctoFormulario .formulariobox .inputbox input:focus ~ span,
.container .contanctoFormulario .formulariobox .inputbox input:valid ~ span,
.container .contanctoFormulario .formulariobox .inputbox textarea:focus ~ span,
.container .contanctoFormulario .formulariobox .inputbox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #095a55;
}
.container .contanctoFormulario .formulariobox .inputbox input[type="submit"]
{
    display: block;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
}
.container .contanctoFormulario .formulariobox .inputbox input[type="submit"]:hover
{
    background-position: right;
}
.rounded-box {
    border-radius: 10px; }

.contenedor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.imgVolver{
    height: 40px;
    width: 30px;
}

.botonVolver{
    margin-right: 200px;
    margin-top: 15px;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    
 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.botonVolver1{
      margin-right: 10px;
    margin-top: 15px;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    
 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.btnVolver{
    text-decoration: none;
    color: black;
    border: none;
}

.btnVolver:hover{
    color: blue;
    border:none;
}

.textoVolver{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.textoVolver:hover{
    color: #fff;
}