<!DOCTYPE html>
<html lang="en"html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Profesional</title>
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
        <!-- Fuentes personalizadas-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Css -->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Contenedor de páginas-->
        <div id="wrapper">

            <!-- barra lateral -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Barra lateral - Marca -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/profesionales/dashboard}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-solid fa-lock"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Panel Profesional</div>
                </a>

                <!-- Divisor -->
                <hr class="sidebar-divider my-0">

                <!-- Panel -->
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">

                        <span>Index</span></a>
                </li>

                <!-- Divisor -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Gestion
                </div>
                <!-- Elemento de navegación - Menú Contraer utilidades -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-hospital-user"></i>
                        <span>Agenda</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" th:href="@{/agenda/verAgenda/__${log.id}__}">Ver Mi Agenda</a>

                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-user"></i>
                        <span>Oferta y Disponibilidad</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" th:href="@{/oferta/verOferta/__${log.id}__}">Mi Oferta</a>


                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-user"></i>
                        <span>Pacientes</span>
                    </a>
                    <div id="collapseUser" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" th:href="@{/paciente/listar/__${log.id}__}">Ver Mis Pacientes</a>
                        </div>
                    </div>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </ul>
            <!-- Fin de la barra lateral -->
            <!-- Contenedor de contenido -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Contenido principal -->
                <div id="content">
                    <!-- Barra superior -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Alternar barra lateral (barra superior) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- Barra superior Barra de navegación -->
                        <ul class="navbar-nav ml-auto">
                            <div class="topbar-divider d-none d-sm-block"></div>
                            <!--Información del usuario -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text = "'Hi! '+ ${log.nombre}"></span>
                                    <img class="/img-profile rounded-circle"
                                         th:src="@{/imagen/perfil/__${log.id}__}" style="max-width: 100%; max-height: 25px;">
                                </a>
                                <!-- Menú desplegable - Información del usuario-->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" th:href="@{/user/verUsuario/__${log.id}__}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Perfil
                                    </a>
                                    <a class="dropdown-item" th:href="@{/inicio}">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Mi Área
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar sesión
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- Fin de la barra superior -->
                    <!-- Comenzar contenido de la página -->
                    <div class="container-fluid">
                        <div class="container-fluid">
                        </div>
                        <!-- Encabezado de página -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Mi disponibilidad</h1>
                        </div>
                        <div th:if="${error != null}" class="card text-white bg-success mb-3 mensajeError" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Error!</h5>
                                <p class="card-text text-center" th:text="${error}"></p>
                            </div>
                        </div>
                        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Exito!</h5>
                                <p class="card-text text-center" th:text="${exito}"></p>
                            </div>
                        </div> 
                        <div th:if="${vacia != null}" class="card text-white bg-info mb-3 mt-3 mensajeExito" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Atencion!</h5>
                                <p class="card-text text-center" th:text="${vacia}"></p>
                            </div>
                        </div> 
                    </div>
                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-4 col-md-7 mb-5">
                    </div>                    
                    <form th:action="@{/oferta/editar/__${log.id}__}" method="POST" enctype="multipart/form-data">
                        <!-- Collapsable Card Example -->
                        <div class="card mb-4">
                            <div class="card-header">
                                Nota: si cambia su disponibilidad actual la misma será aplicada a las nuevas semanas que agregue en su agenda. No modificará su agenda actual
                         
                                <a type="button" class="btn btn-success me-md-2"  th:if="${oferta == null}" th:href="@{/oferta/crear/__${log.id}__}">Nueva Oferta</a>


                            </div>

                            <div th:if="${oferta != null}" class="card-body">
                                <div class="row gy-3">
                                    <div class="col-md">
                                        <span style="font-size: 110%;">Días disponibles actuales</span> 

                                        <div>
                                            <div th:each="dia : ${dias}">
                                                <span th:text="${dia}"></span>
                                            </div>
                                        </div> 
                                        <div class="col-md">
                                            <span style="font-size: 110%;">Seleccione sus nuevos días disponibles</span> 

                                            <div>
                                                <label class="cl-checkbox">
                                                    <input class="form-check-input" type="checkbox" id="defaultCheck1" name="diasSeleccionados" th:value="Lunes" th:checked="${diasSeleccionados != null ? diasSeleccionados.contains('Lunes') : false}"/>
                                                    <span>Lunes</span>
                                                </label>
                                            </div>
                                            <div>
                                                <label class="cl-checkbox">
                                                    <input class="form-check-input" type="checkbox" id="defaultCheck2" name="diasSeleccionados" th:value="Martes" th:checked="${diasSeleccionados != null ? diasSeleccionados.contains('Martes') : false}" />
                                                    <span>Martes</span>
                                                </label>
                                            </div>
                                            <div>
                                                <label class="cl-checkbox">
                                                    <input class="form-check-input" type="checkbox" id="defaultCheck3" name="diasSeleccionados" th:value="Miercoles" th:checked="${diasSeleccionados != null ? diasSeleccionados.contains('Miercoles') : false}" />
                                                    <span>Miercoles</span>
                                                </label>
                                            </div>
                                            <div>
                                                <label class="cl-checkbox">
                                                    <input class="form-check-input" type="checkbox" id="defaultCheck4" name="diasSeleccionados" th:value="Jueves" th:checked="${diasSeleccionados != null ? diasSeleccionados.contains('Jueves') : false}" />
                                                    <span>Jueves</span>
                                                </label>
                                            </div>
                                            <div>
                                                <label class="cl-checkbox">
                                                    <input class="form-check-input" type="checkbox" id="defaultCheck5" name="diasSeleccionados" th:value="Viernes" th:checked="${diasSeleccionados != null ? diasSeleccionados.contains('Viernes') : false}" />
                                                    <span>Viernes</span>
                                                </label>
                                            </div>
                                        </div>
                                        <br>
                                        <h5>Nuevos Horarios de la jornada</h5>
                                        <div class="form-group row">
                                            <label for="html5-datetime-local-input" class="col-md-6 col-form-label">Hora inicial</label>
                                            <div class="col-sm-4">
                                                <input
                                                    class="form-control" type="time" th:value="${oferta.horaInicio}"  id="html5-time-input" name="horaInicial"
                                                    />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="html5-datetime-local-input" class="col-md-6 col-form-label">Hora final</label>
                                            <div class="col-sm-4">
                                                <input
                                                    class="form-control" type="time" th:value="${oferta.horaFin}" id="html5-time-input" name="horaFinal"
                                                    />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="html5-datetime-local-input" class="col-md-6 col-form-label">Nueva Duracion del turno(minutos)</label>

                                            <input type="number" th:value="${oferta.duracionTurno}"  id="duracion-input" name="duracion" />

                                        </div>
                                        <!-- comment <button class="button-style" onclick="guardarDuracion()">Guardar</button>
                          <div id="resultado"></div>

                          <script>
                              var duracionEnMinutos = 0; // Variable para almacenar el valor

                              function guardarDuracion() {
                                  var duracionInput = document.getElementById("duracion-input");
                                  duracionEnMinutos = parseInt(duracionInput.value);

                                  var resultado = document.getElementById("resultado");
                                  resultado.innerText = "Se ha guardado la duración del turno en minutos: " + duracionEnMinutos;
                              }
                          </script>
                                        -->


                                        <h5>Modalidad</h5>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label" for="defaultCheck1">Modo de atención Actual:</label>
                                            <div class="col-sm-4">
                                                <span class="form-control form-control" type="text" id="address" placeholder="Direccion"   th:text="${oferta.tipo}"></span>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label" for="defaultCheck1">Nuevo Modo de atención:</label>
                                                <select class="form-select" id="inputGroupSelect01" name="tipoOferta">
                                                    <option value="" disabled selected>Seleccione...</option>
                                                    <option th:each=" tipo:${tipos}"
                                                            th:value="${tipo}" th:text="${tipo}"></option>

                                                </select>
                                            </div>
                                        </div>
                                        <h5>Atención</h5>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label" for="defaultCheck1">Lugar de atención</label>
                                            <div class="col-sm-4">
                                                <input class="form-control form-control" type="text" id="address" placeholder="Direccion" name="direccion"  th:value="${oferta.ubicacion}">
                                            </div>
                                        </div>

                                    </div>
                                </div>





                                <div class="card mb">

                                    <h5>  Obras Sociales Actuales</h5>

                                    <div th:each="obra : ${obras}" >

                                        <span th:text="${obra.nombre}"></span>
                                    </div>




                                </div>

                                <div class="card mb">
                                    <div class="card-header">
                                        Nueva Seleccion de Obras Sociales
                                    </div>
                                    <div class="card-body">
                                        <div class="row gy-5">
                                            <div class="col-md">
                                                <!-- Lista para mostrar las selecciones -->
                                                <div class="form-group">
                                                    <label>Seleccionadas:</label>
                                                    <ul id="seleccionadas"></ul>
                                                </div>



                                                <!-- Select para obras sociales preexistentes -->
                                                <div class="form-group">
                                                    <label for="obrasPreexistentes">Seleccionar obras sociales:</label>
                                                    <select class="form-control" id="obrasPreexistentes" onchange="manejarSeleccion()">
                                                        <option value="">Seleccionar</option>
                                                        <option th:each="obra : ${todas}" th:value="${obra.nombre}" th:text="${obra.nombre}"></option>
                                                        <option value="otra">Otra</option>
                                                    </select>
                                                </div>

                                                <!-- Campo para agregar una nueva obra social -->
                                                <div id="nuevaObraSocialFields" style="display: none;">
                                                    <div class="form-group">
                                                        <label for="nombreNuevaObraSocial">Nombre de nueva obra social:</label>
                                                        <input type="text" class="form-control" id="nombreNuevaObraSocial" placeholder="Nombre" />
                                                    </div>
                                                    <button type="button" class="btn btn-primary" onclick="agregarNuevaObraSocial()">Agregar Nueva</button>
                                                </div>

                                                <!-- Input oculto para almacenar las selecciones -->
                                                <input type="hidden" id="seleccionesInput" name="selecciones" />

                                                <script>
                                                    var selecciones = [];

                                                    function manejarSeleccion() {
                                                        var select = document.getElementById("obrasPreexistentes");
                                                        var selectedOption = select.options[select.selectedIndex];
                                                        var nuevaObraSocialFields = document.getElementById("nuevaObraSocialFields");

                                                        if (selectedOption.value === "otra") {
                                                            nuevaObraSocialFields.style.display = "block";
                                                        } else {
                                                            nuevaObraSocialFields.style.display = "none";
                                                            agregarSeleccion(selectedOption.textContent);
                                                        }
                                                    }

                                                    function agregarNuevaObraSocial() {
                                                        var nombre = document.getElementById("nombreNuevaObraSocial").value.trim();

                                                        if (nombre !== "") {
                                                            agregarSeleccion(nombre);
                                                            document.getElementById("nombreNuevaObraSocial").value = "";
                                                            var nuevaObraSocialFields = document.getElementById("nuevaObraSocialFields");
                                                            nuevaObraSocialFields.style.display = "none";
                                                        }
                                                    }

                                                    function agregarSeleccion(nombre) {
                                                        var seleccionadasList = document.getElementById("seleccionadas");
                                                        var nuevaObraSocial = document.createElement("li");
                                                        nuevaObraSocial.textContent = nombre;
                                                        seleccionadasList.appendChild(nuevaObraSocial);

                                                        // Agregar a la lista de selecciones
                                                        selecciones.push(nombre);

                                                        // Actualizar el input oculto con las selecciones
                                                        document.getElementById("seleccionesInput").value = selecciones.join(",");
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="d-grid gap-2 col-12 mx-auto text-center">
                                    <button class="btn btn-lg btn-success rounded-pill btnRegistro" type="submit">Guardar Cambios</button>
                                </div>






                            </div>

                        </div>


                    </form>



                    <!-- Fin del contenido principal -->
                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>HealtCooperationWeb ©2023</span>
                            </div>
                        </div>
                    </footer>
                    <!-- Fin del Footer -->
                </div>
            </div>                
            <!-- Fin del contenedor de contenido -->
        </div>
        <!-- Envoltura de fin de página -->
        <!-- Desplácese hasta el botón superior-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Cierre de sesión modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Quieres cerrar sesión ?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="button" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger" th:if="${session.usuariosession != null}" th:href="@{/logout}">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>

    </body>

</html>