<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/login-css.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="../img/olita.png">
	<div class="container">
		<div class="img">
			<img src="../img/fondoRegistro.svg">
		</div>
		<div class="login-content">
			<form th:action="@{/logincheck}" method="POST">
                            <div th:if="${error != null}" class="card text-white bg-primary mb-3 mensajeError" >
                        <div class="card-body">
                            <h5 class="card-title">Error!</h5>
                            <p class="card-text" th:text="${error}"></p>
                        </div>
                    </div>
                    <div th:if="${exito != null}" class="card text-white bg-info mb-3 mt-3 mensajeExito" >
                        <div class="card-body">
                            <h5 class="card-title">Exito!</h5>
                            <p class="card-text" th:text="${exito}"></p>
                        </div>
                    </div>
				<img src="../img/avatar.svg">
				<h2 class="title">Accede a tu cuenta</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		
                <input class="form-control fas fa-user " placeholder="Correo electrónico" required type="email" id="email"  name="email" >
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	
                <input class="form-control fas fa-lock" placeholder="Contraseña" type="password" required id="password"  name="password" >
            	   </div>
            	</div>
            	
            	<input type="submit" class="btn" value="Iniciar sesión">
				<a th:href="@{/paciente/registrar}">¿Todavía sin cuenta? Quiero registrarme</a>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>