<!DOCTYPE html>

<html lang="en"html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <title>Mi Perfil</title>

        <!-- Fuentes personalizadas-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Css -->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Contenedor de páginas-->
        <div id="wrapper">

            <!-- barra lateral -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion fixed-top" id="accordionSidebar">

                <!-- Barra lateral - Marca -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-solid fa-lock"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Panel Paciente</div>
                </a>



                <!-- Panel -->
                <li class="nav-item active mt-5 ms-2">
                    <a class="nav-link" th:href="@{/}">
                        <h3>Inicio</h3></a>    
                </li>
                <li class="nav-item active ms-2">
                    <a class="nav-link" th:href="@{/inicio}">
                        <h3>Ver mi Perfil</h3></a>    
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">
                        <h3>Modificar mi Perfil</h3></a>    
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">
                        <h3> Ver mis Turnos</h3></a>    
                </li>

            </ul>
            <!-- Fin de la barra lateral -->

            <!-- Contenedor de contenido -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Contenido principal -->
                <div id="content">

                    <!-- Barra superior -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Alternar barra lateral (barra superior) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>



                        <!-- Barra superior Barra de navegación -->
                        <ul class="navbar-nav ml-auto">


                            <div class="topbar-divider d-none d-sm-block"></div>


                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 medium">Paciente</span>
                                    <img class="/img-profile rounded-circle shake-vertical"
                                         th:src="@{/imagen/perfil/__${log.id}__}" style="max-width: 100%; max-height: 30px;">
                                </a> 
                                <!-- Menú desplegable - Información del usuario-->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar sesión
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- Fin de la barra superior -->

                    <!-- Comenzar contenido de la página -->
                    <main>
                        <form class= "user" th:if="${session.usuariosession != null}" th:action="@{/paciente/modificar/__${id}__}" method="POST" enctype="multipart/form-data">
                            <input hidden th:value="${id}" name="id">
                            <div th:if="${error != null}" class="card text-white bg-success mb-3 mensajeError" >
                                <div class="card-body">
                                    <h5 class="card-title text-center">Error!</h5>
                                    <p class="card-text text-center" th:text="${error}"></p>
                                </div>
                            </div>
                            <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                                <div class="card-body">
                                    <h5 class="card-title text-center">Exito!</h5>
                                    <p class="card-text text-center" th:text="${exito}"></p>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3">
                                    <label  class="form-label">Nombre</label>
                                    <input type="text" class="form-control form-controluser"  id="name" placeholder="Nombre" name="nombre" th:value="${user.nombre}">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label  class="form-label">Apellido</label>
                                    <input type="text" class="form-control form-control-user"   id="last-name" placeholder="Apellido" name="apellido" th:value="${user.apellido}">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label  class="form-label">DNI</label>
                                    <input class="form-control form-control-user" type="number" id="dni" placeholder="DNI" name="dni" th:value="${user.dni}">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label  class="form-label">Telefono</label>
                                    <input class="form-control form-control-user" type="text" id="telefono" placeholder="Telefono" name="telefono" th:value="${user.telefono}">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label  class="form-label">Email</label>
                                    <input class="form-control form-control-user" type="email" id="email" placeholder="Correo electrónico" name="email" th:value="${user.email}">
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label  class="form-label">Fecha nacimiento</label>

                                    <input class="form-control form-control-user" type="DATE" id="fecha-nac" name="fecha_nac" th:value="${#dates.format(user.fecha_nac, 'yyyy-MM-dd')}">
                                </div >

                                <div class="col-sm-6 mb-3">
                                    <label  class="form-label">Contraseña</label>
                                    <input  class="form-control form-control-user" type="password" id="password" placeholder="Contraseña" name="password" th:value="${user.password}">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label  class="form-label">Repetir</label>
                                    <input  class="form-control form-control-user" type="password" id="password2" placeholder="Repetir Contraseña" name="password2" >
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label  class="form-label">Direccion</label>
                                    <input  class="form-control form-control-user" type="text" id="direccion" placeholder="Direccion" name="direccion" th:value="${user.direccion}">
                                </div>
                                  <div  class="col-sm-6 mb-3">
                                    <label  class="form-label">Grupo Sanguineo</label>
                                    <input class="form-control form-control-user" type="text" id="grupo" placeholder="Grupo Sanguineo" name="gruposanguineo" th:value="${user.grupoSanguineo}">
                                </div>    
                                   
                                <div class="col-sm-6 mb-3">
                                    <p class="form-label">¡Actualice su foto aquí!</p>
                                    <input type="file" class="form-control inputEstilos border-top-0 border-end-0 border-start-0 border border-4" name="archivo" id="archivoInput" />

                                    <a class="d-flex align-items-center">
                                        <img id="imagenPerfil" class="form-label" th:src="@{/imagen/perfil/__${user.id}__}" style="max-width: 100%; max-height: 100px;" />
                                    </a>
                                </div> 
                                <!-- comment: falta difinir la estructura de la obra asocial 
                                   <div  class="col-sm-6 mb-3">
                                    <label  class="form-label">Obra Social</label>
                                    <input class="form-control form-control-user" type="text" id="obra" placeholder="Obra Social" name="nombreObraSocial" th:value="${user.obrasocial.nombre}">
                                </div>
                                    -->
                                <div class="d-grid gap-2 col-12 mx-auto text-center">
                                  <button class="btn btn-lg btn-success rounded-pill btnRegistro" type="submit">Guardar Modificacion</button>
                                    </div>
                            </div>

                            <script>
                                const archivoInput = document.getElementById('archivoInput');
                                const imagenPerfil = document.getElementById('imagenPerfil');

                                archivoInput.addEventListener('change', function () {
                                    if (archivoInput.files && archivoInput.files[0]) {
                                        const reader = new FileReader();
                                        reader.onload = function (e) {
                                            imagenPerfil.src = e.target.result;
                                        };
                                        reader.readAsDataURL(archivoInput.files[0]);
                                    } else {
                                        // No se seleccionó ningún archivo, se mantiene la imagen actual
                                    }
                                });
                            </script>

                        </form>




                    </main>
                    <!-- Fin del contenedor de contenido -->


                </div>
                <!-- Envoltura de fin de página -->

                <!-- Desplácese hasta el botón superior-->
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>

                <!-- Cierre de sesión modal-->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Quieres cerrar sesión ?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <a class="btn btn-primary" th:if="${session.usuariosession != null}" th:href="@{/logout}">Cerrar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Bootstrap core JavaScript-->
                <script src="/vendor/jquery/jquery.min.js"></script>
                <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                <!-- Core plugin JavaScript-->
                <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

                <!-- Custom scripts for all pages-->
                <script src="/js/sb-admin-2.min.js"></script>

                <!-- Page level plugins -->
                <script src="/vendor/chart.js/Chart.min.js"></script>

                <!-- Page level custom scripts -->
                <script src="/js/demo/chart-area-demo.js"></script>
                <script src="/js/demo/chart-pie-demo.js"></script>

                <script>
                    const toggleButton = document.getElementById('toggleButton');
                    const elementToShowHide = document.getElementById('elementToShowHide');

                    toggleButton.addEventListener('click', function () {
                        if (elementToShowHide.style.display === 'none') {
                            elementToShowHide.style.display = 'block'; // o 'inline', dependiendo del tipo de elemento
                        } else {
                            elementToShowHide.style.display = 'none';
                        }
                    });
                </script>
                </body>

                </html>