<!DOCTYPE html>
<html lang="en"html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Admin</title>
        <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico" />
        <!-- Fuentes personalizadas-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Css -->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Contenedor de páginas-->
        <div id="wrapper">

            <!-- barra lateral -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Barra lateral - Marca -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin/dashboard}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-solid fa-lock"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Panel Administrador </div>
                </a>

                <!-- Divisor -->
                <hr class="sidebar-divider my-0">

                <!-- Panel -->
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">

                        <span>Home</span></a>
                </li>

                <!-- Divisor -->
                <hr class="sidebar-divider">


                <!-- Heading -->
                <div class="sidebar-heading">
                    Gestion
                </div>

                <!-- Elemento de navegación: menú Contraer páginas -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-hospital-user"></i>
                        <span>Profesionales</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Acciones</h6>
                            <a class="collapse-item" th:href="@{/profesionales/registrar}">Alta Profesional</a>
                            <a class="collapse-item" th:href="@{/profesionales/listar}">Ver Profesionales</a>
                        </div>
                    </div>
                </li>

                <!-- Elemento de navegación - Menú Contraer utilidades -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-user"></i>
                        <span>Pacientes</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">

                            <a class="collapse-item" th:href="@{/paciente/listar}">Ver Pacientes</a>

                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-user"></i>
                        <span>Usuarios</span>
                    </a>
                    <div id="collapseUser" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">

                            <a class="collapse-item" th:href="@{/user/listar}">Ver Usuarios</a>


                        </div>
                    </div>
                </li>


                <!-- Divider -->
                <hr class="sidebar-divider">






                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <form class="form-inline">
                            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                <i class="fa fa-bars"></i>
                            </button>
                        </form>



                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>


                                <div class="topbar-divider d-none d-sm-block"></div>

                                <!--Información del usuario -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text = "'Hi! '+ ${log.nombre}"></span>
                                    <img class="/img-profile rounded-circle"
                                         th:src="@{/imagen/perfil/__${log.id}__}" style="max-width: 100%; max-height: 25px;">
                                </a>
                                <!-- Menú desplegable - Información del usuario-->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" th:href="@{/user/verUsuario/__${log.id}__}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Perfil
                                    </a>
                                    <a class="dropdown-item" th:href="@{/inicio}">

                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Mi Área
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar sesión
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Encabezado de página -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">Lista de Profesionales</h1>
                                <a type="button" class="btn btn-success me-md-2" th:href="@{/inicio}">Volver</a>
                            <div th:if="${error != null}" class="card text-white bg-success mb-3 mensajeError" >
                                <div class="card-body">
                                    <h5 class="card-title text-center">Error!</h5>
                                    <p class="card-text text-center" th:text="${error}"></p>
                                </div>
                            </div>
                            <div th:if="${exito != null}" class="card text-white bg-info mb-3 mt-3 mensajeExito" >
                                <div class="card-body">
                                    <h5 class="card-title text-center">Exito!</h5>
                                    <p class="card-text text-center" th:text="${exito}"></p>
                                </div>
                            </div> 
                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">

                                <div class="card-body">
                                    <div class="table-responsive">

                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Apellido</th>
                                                    <th>Email</th>
                                                    <th>Especialidad</th> 
                                                    <th></th>  
                                                    <th></th>  

                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr th:each="user : ${users}">
                                                    <td th:value="${user.nombre}" th:text="${user.nombre}" ></td>        
                                                    <td th:value="${user.apellido}" th:text="${user.apellido}"></td>
                                                    <td th:value="${user.email}" th:text="${user.email}"></td>
                                                    <td th:value="${user.especialidad}" th:text="${user.especialidad}"></td>
                                                    <td >
                                                        <a type="button" class="btn btn-success me-md-2" th:href="@{/agenda/verAgenda/__${user.id}__}"> Ver Agenda </a>
                                                    </td>
                                                    <td >
                                                        <a type="button" class="btn btn-success me-md-2" th:href="@{/oferta/verOferta/__${user.id}__}"> Ver Oferta </a>
                                                    </td>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>HealtCooperationWeb ©2023</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <div id="confirmationPopup" class="confirmation-popup">
                <p>¿Estás seguro de que quieres eliminar este Profesional?</p>
                <button id="confirmButton" class="btn btn-danger" onclick="confirmDeletion()">Confirmar</button>
                <button id="cancelButton" class="btn btn-secondary" onclick="cancelDeletion()">Cancelar</button>
            </div>

            <script th:inline="javascript">
                function showConfirmationPopup(userId) {
                document.getElementById('confirmationPopup').style.display = 'block';
                document.getElementById('overlay').style.display = 'block';
                userIdToDelete = userId; // Guarda el ID para usarlo en las funciones de confirmación y cancelación
                }

                function confirmDeletion() {

                document.getElementById('deleteForm_' + userIdToDelete).submit();

                closeConfirmationPopup();
                }

                function cancelDeletion() {
                closeConfirmationPopup();
                }

                function closeConfirmationPopup() {
                document.getElementById('confirmationPopup').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';
                }
            </script>

            <div id="overlay" class="overlay"></div>


            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Quieres cerrar sesión ?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
                        <div class="modal-footer">
                            <button class="btn btn-success" type="button" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-danger" th:if="${session.usuariosession != null}" th:href="@{/logout}">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Bootstrap core JavaScript-->
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="/js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->

            <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/js/demo/datatables-demo.js"></script>

    </body>

</html>